<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">
  
<menuitem title="Dash Board" name="axelor-root" icon="fa-user"/>

<menuitem title="Party" name="axelor-root-party" parent="axelor-root" icon-background="red" icon="fa-user"/>

<menuitem title="Party" name="axelor-root-party-parti" parent="axelor-root-party" action="action.axelor.root.party.parti"/>
<action-view name="action.axelor.root.party.parti" title="Party" model="com.axelor.party.db.Party">
	<view type="grid" name="party-grid"/>
	<view type="form" name="party-form"/>
</action-view>

<menuitem title="Contact" name="axelor-root-party-contact" parent="axelor-root-party" action="action.axelor.root.party.contact"/>
<action-view name="action.axelor.root.party.contact" title="Contacts" model="com.axelor.address.db.Contact">
	<view type="grid" name="contact-grid"/>
	<view type="form" name="contact-form"/>
</action-view>

<menuitem title="Configuration" name="axelor-root-party-configuration" parent="axelor-root-party"/>

<menuitem title="Address" name="axelor-root-party-configuration-address" parent="axelor-root-party-configuration" action="action.axelor.root.address"/>
 <action-view name="action.axelor.root.address" title="Address" model="com.axelor.address.db.Address">
		<view type="grid" name="address-grid"/>
		<view type="form" name="address-form"/>
		
 </action-view>
 
 <menuitem title="City" name="axelor-root-party-configuration-city" parent="axelor-root-party-configuration" action="action.axelor.root.party.configuration.city"/>
 <action-view name="action.axelor.root.party.configuration.city" title="City" model="com.axelor.address.db.City">
 		<view type="grid" name="city-grid"/>
 		<view type="form" name="city-form"/>
 </action-view>
 
 <menuitem title="State" name="axelor-root-party-configuration-state" parent="axelor-root-party-configuration" action="action.axelor.root.party.configuration.state"/>
 <action-view name="action.axelor.root.party.configuration.state" title="State" model="com.axelor.address.db.State">
	<view type="grid" name="state-grid"/>
	<view type="form" name="state-form"/> 
 </action-view>
 
 <menuitem title="Country" name="axelor-root-party-configuration-country" parent="axelor-root-party-configuration" action="action.axelor.root.party.configuration.country"/>
 <action-view name="action.axelor.root.party.configuration.country" title="County" model="com.axelor.address.db.Country">
	<view type="grid" name="country-grid"/>
	<view type="form" name="country-form"/> 
 </action-view>
 
 <!-- Second menu in dash board -->
 
<menuitem title="Company" name="axelor-root-company" parent="axelor-root" icon-background="green" icon="fa-user"/>

<menuitem title="Company" name="axelor-root-company-company" parent="axelor-root-company" action="axelor.root.company.company"/>
<action-view name="axelor.root.company.company" title="Company" model="com.axelor.company.db.Company">
	<view type="grid" name="company-grid"/>
	<view type="form" name="company-form"/> 
</action-view>

<menuitem title="Bank Account" name="axelor-root-company-bankaccount" parent="axelor-root-company" action="axelor.root.company.bankaccount"/>
<action-view name="axelor.root.company.bankaccount" title="Bank Account" model="com.axelor.company.db.BankAccount">
	<view type="grid" name="bank-grid"/>
	<view type="form" name="bank-form"/>
</action-view>

<menuitem title="Sequence" name="axelor-root-company-sequence" parent="axelor-root-company" action="axelor.root.company.sequence"/>
<action-view name="axelor.root.company.sequence" title="Bank Account" model="com.axelor.company.db.Sequences">
	<view type="grid" name="sequence-grid"/>
	<view type="form" name="sequence-form"/>
</action-view>

<!-- third menu in dah board product menu -->

<menuitem title="Product" name="axelor-root-product" parent="axelor-root" icon-background="blue" icon="fa-user"/>

<menuitem title="Product" name="axelor-root-product-product" parent="axelor-root-product" action="axelor.root.product.product"/>
<action-view name="axelor.root.product.product" title="Product" model="com.axelor.product.db.Product">
	<view type="grid" name="product-grid"/>
	<view type="form" name="product-form"/>
	<view type="cards" name="product-cards"/>
</action-view>

<menuitem title="Product Category" name="axelor-root-product-productcategory" parent="axelor-root-product" action="axelor.root.product.product.category"/>
<action-view name="axelor.root.product.product.category" title="Product Category" model="com.axelor.product.db.Category">
	<view type="grid" name="category-grid"/>
	<view type="form" name="category-form"/>
</action-view>

<!-- Menu for invoices -->

<menuitem title="Invoice" name="axelor-root-invoice" parent="axelor-root" icon-background="yellow" icon="fa-user"/>

<menuitem title="Invoice" name="axelor-root-invoice-invoice" parent="axelor-root-invoice" action="axelor.root.invoice.invoice"/>
<action-view name="axelor.root.invoice.invoice" title="Invoice" model="com.axelor.invoice.db.Invoice">
	<view type="grid" name="invo-grid"/>
	<view type="form" name="invo-form"/>
	<view type="kanban" name="invo-kanban"/>
</action-view>

<menuitem title="Invoice Line" name="axelor-root-invoice-invoice-line" parent="axelor-root-invoice" action="axelor.root.invoice.invoice.line"/>
<action-view name="axelor.root.invoice.invoice.line" title="Invoice Line" model="com.axelor.invoice.db.InvoiceLine">
	<view type="grid" name="invoice-grid"/>
	<view type="form" name="invoice-form"/>
</action-view>

</object-views>
